<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="https://www.baidu.com" target="_blank">
        <div>
            <img src="1.jpg" width="20px" height="20px"/>
        </div>
    </a>
    <a href="www.baidu.com">woshi</a>
    <table border="1">
        <tr>
            <td>wo</td>
            <td>ni</td>
        </tr>
        <tr>
            <td>wo1</td>
            <td>ni1</td>
        </tr>
        <tr>
            <!--<td >wo1</td>-->
            <td colspan="2">nikua</td>
        </tr>
        <tr>
            <td rowspan="2">woh</td>
            <td>ni</td>
        </tr>
        <tr>
            <!--<td rowspan="2">woh</td>-->
            <td>ni</td>
        </tr>
    </table>
</body>
</html>